@model MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket
@{
    ViewBag.Title = "EditSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div style="margin-left:35%;">
    <br /><br /><br />
    <h4 style="margin-left:30px;">Satış Düzenleme Sayfası</h4>
    <form method="post" class="col-xl-5 col-md-5 table-bordered" style="height:680px;">
        <div class="modal-body">
            @Html.HiddenFor(x => x.Satisid)
            <b>@Html.Label("Ürün Adı")</b>
            @Html.DropDownListFor(x => x.Urunid, (List<SelectListItem>)ViewBag.urun, "Ürün Seçiniz", new { @class = "form-control" })
            <br />
            <b>@Html.Label("Cari")</b>
            @Html.DropDownListFor(x => x.Cariid, (List<SelectListItem>)ViewBag.Cari, "Cari Seçiniz", new { @class = "form-control" })
            <br />
            <b>@Html.Label("Personel")</b>
            @Html.DropDownListFor(x => x.Personelid, (List<SelectListItem>)ViewBag.personel, "Personel Seçiniz", new { @class = "form-control" })
            <br />
            <b>@Html.Label("Adet")</b>
            @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
            <br />
            <b>@Html.Label("Satış Fiyatı")</b>
            @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
            <br />
            <b>@Html.Label("Toplam Fiyat")</b>
            @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })
            <br />
            @*<b style="margin-left:100px;">@Html.Label("Aktif")</b>
            <input type="radio" name="Durum" value="true" checked="true" />
            <b style="margin-left:55px;">@Html.Label("Pasif")</b>
            <input type="radio" name="Durum" value="false" />*@
            <br />
            <button class="btn btn-success" style="margin-left:25%; width:50%">Kaydet</button>
        </div>
    </form>
</div>

