@model IEnumerable<MvcOnlineTicariOtomasyon.Models.Siniflar.SinifKategori>
@{
    ViewBag.Title = "KolayTablolar";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int sayi = 0;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Simple Tables</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Galery/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Galery/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Hızlı Bakış Tabloları</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Kategori Tablosu</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Kategori Adı</th>
                                            <th>Progress Bar</th>
                                            <th style="width: 40px">Adet</th>
                                        </tr>
                                    </thead>
                                    @foreach (var x in Model)
                                    {
                                        sayi++;
                                        <tbody>
                                            <tr>
                                                <td>@sayi.</td>
                                                <td>@x.KatAd</td>
                                                <td>
                                                    @if (x.Count == 1)
                                                    {
                                                        <div class="progress progress-xs">
                                                            <div class="progress-bar progress-bar-danger" style="width: @x.Count%"></div>
                                                        </div>
                                                    }
                                                    @if (x.Count > 1)
                                                    {
                                                        <div class="progress progress-xs">
                                                            <div class="progress-bar bg-success" style="width: @x.Count%"></div>
                                                        </div>
                                                    }
                                                </td>
                                                @if (x.Count == 1)
                                                {
                                                    <td><span class="badge bg-danger">@x.Count</span></td>
                                                }
                                                @if (x.Count > 1)
                                                {
                                                    <td><span class="badge bg-success">@x.Count</span></td>
                                                }
                                            </tr>
                                        </tbody>
                                    }
                                </table>
                            </div>
                        </div>
                        <br />
                        <div class="card">
                            @Html.Action("KolayTablolars1")
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Müşteri Şehir Tablosu</h3>
                            </div>
                            @Html.Action("KolayTablolars")
                        </div>
                        <br><br><br>
                        <div class="card">
                           @Html.Action("KolayTablolars4")
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <div class="row">
                    @Html.Action("KolayTablolars2")
                </div>
                <!-- /.row -->
                <div class="row">
                    @Html.Action("KolayTablolars3")
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 3.0.4
        </div>
        <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
        reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Galery/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Galery/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Galery/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Galery/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>


